@import "index";
@import "navbar";
@import "table";

.banner {
  background-image: url("../img/banner.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 200px;
}

.content {
  width: 80vw;
  margin: 0 auto;
}